legend {
    font-size: 14px;
    font-weight: bold;
}


#edit-advanced-search {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: none;
}
#advanced-search-wrapper .form-item {
  margin: 6px auto;
}

#field-type-date-range .form-item {
  margin: 0px;
}

/*Removes the extra padding underneath a date-popup*/
.container-inline-date .form-item {
    margin-bottom: 0px;
}

/*Removes the padding that gets added by the Date API's date.css*/
#advanced-search-wrapper  .date-padding {
    padding: 0px;
}

.field-type-date-range td {
  width: 20px;
}

.date-range-f_date-field{
  width: 140px;
}


.ui-datepicker-calendar {
    display: none;
}

.field-type-date-range .description {
    display: none;
  }

.field-type-date-range table {
    width: 40px !important;
}

.form-type-date-popup {
    margin: 0px !important;
}

.form-type-date-popup .form-item {
    margin: 0px !important;
}

/*#advanced-search-wrapper .form-type-date-popup {
    /*display: block;
    float: left;
}*/

/* Overwrite standard layout of VectorBase */
.main, .header-group, .region-footer {
  width: 95% !important;
  max-width: 1400px;
}

.nested, .main-menu {
  width: 100% !important;
}

#edit-advanced-search {
  width: 71%;
  float: right;
}

.block-vbsearch-facets {
  margin-left: -10px;
}

.search_result_item_detail {
  width: auto !important;
  margin: 0px !important;
  float: none !important;
  color: #006621;
}

#result_title {
  margin: 0px;
}

.search_result_item {
  padding-bottom: 10px !important;
  width: auto !important;
  overflow: visible !important;
}

#block-system-main {
  position: relative;
}

.options i {
  margin-top: -3px;
  width: 16px;
  height: 16px;
  background: url(../images/add-small.png) no-repeat 0 0;
  display: inline-block;
  vertical-align: text-bottom;
}

.options {
  font-size: 14px;
}

.block-login-block {
  margin-top: -45px !important;
  clear: both !important;
}

#field_list_div {
  position: absolute;
  left: 85px;
  /*vertical-align: middle;
  text-align: center;*/
  top: -7px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  box-shadow: 2px 0px 10px;
  background-color: #ffffff;
  display: none;
  z-index: 1000;
}

#field_list {
  list-style-type: none;
  margin: auto;
  font-size: 15px;
  white-space: nowrap;
}

#field_list label {
  padding: 3px 20px;
}

#field_list input {
  margin-right: 5px;
  height: 13px;
}

.form-item-field-search-site-und .field-suffix {
  position: relative;
}

.tip {
  background: url(../images/tip.png) no-repeat;
  position: absolute;
  display: none;
  z-index: 2000;
  width: 12px;
  height: 18px;
  left: 74px;
  top: -2px;
}

.close_field {
  background: url(../images/filter_close.png) no-repeat;
  position: absolute;
  z-index: 2000;
  width: 14px;
  height: 13px;
  right: 4px;
  background-size: 12px;
  top: 4px;
  cursor: pointer;
  display: none;
}

#advanced-search-wrapper > .form-wrapper {
  display: table;
  width: 100%;
  position: relative;
}

#advanced-search-wrapper > .form-wrapper > div {
  display: table;
  width: 100%;
}

#advanced-search-wrapper .form-item > label {
  color: #525151;
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
  font-size: 12px;
  padding: 3px 7px;
  min-width: 150px;
  display: inline-block;
  position: absolute;
  top: 0px;
}

#advanced-search-wrapper .form-text {
  display: block;
  padding: 4px;
  margin-top: 20px;
  margin-left: 20px;
}

#advanced-search-wrapper select {
  height: 22px;
  margin-top: 20px;
  margin-left: 20px;
}

#advanced-search-wrapper select[multiple] {
  height: initial;
  margin-top: 40px;
  margin-bottom: 10px;
}

#advanced-search-wrapper > .form-wrapper > div > .form-item, #advanced-search-wrapper > .field-type-list-text > .form-item {
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  position: relative;
  vertical-align: middle;
  display: table-cell;
  height: 80px;
}

.domain-confirmation {
  position: absolute;
  top: 4px;
  left: 170px;
  display: none;
}

.domain-confirmation button {
  margin-left: 6px;
  cursor: pointer;
}

.confirmation-message {
  display: inline;
}

.search-form .form-type-managed-file {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
}

.search-form .form-type-managed-file > div:last-child {
  flex: auto;
  flex-direction: column;
}

.search-form .form-type-managed-file .form-submit {
  width: 70px !important;
  margin: 5px;
}

.search-form .form-type-managed-file label {
  font-size: 130%;
  padding-right: 5px;
}

#edit-toggle-search-type {
  position: absolute;
  right: 20px;
  bottom: -10px;
  z-index: 1;
}

#edit-basic {
  position: relative;
}

#edit-field-file-search {
  float: left;
  display: none;
  max-width: 600px;
}

#edit-field-file-search .file-upload-js-error {
  float: left;
  /*display: none;*/
}

#edit-basic input {
  margin-top: 5px;
}

#myBtn {
  /*margin-top: 5px;*/
  vertical-align: middle;
}

#myBtn_all {
  cursor: pointer;
}

/*Just using CSS to hide the button, could do it in the module itself, but it
 * might be overkill.  If preferred to be done in module, let me know
 */
input[name=field_file_search_und_0_upload_button] {
  display: none;
}

/*
#species_filter {
  min-height: 200px;
  overflow: auto;
}*/

/* DKDK decorate tooltip texts VB-6887 */
.tooltipDesc {
    /*visibility: hidden;*/
    /*width: 250px;*/
    background-color: #E7F3Fd;
    color: #000;
    /*font-weight: bold;*/
    /*font-family: Arial,Helvetica,Verdana,"Bitstream Vera Sans",sans-serif;*/
    /*font-size: 13px;*/
    text-align: center;
    padding: 5px 5px;
    border: 2px solid #A7CAE6;    
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 170px;
}

#content-group-inner {
  min-height: 790px;
}

