/* CSS file for the no_results page */

#edit-advanced-search {
  width: 98.5% !important;
}

#edit-basic {
  width: 100% !important;
}

#edit-reset-filters {
  width: auto !important;
  padding: 0px 10px !important;
}

/*Quick fix to not show filter box on no results page*/
#search_filter_div {
  display: none;
}

.spelling-suggestions {
  font-size: 114.28%;
}

.spelling-suggestions dl {
  margin-bottom: 0px;
}

.spelling-suggestions dt {
  float: left;
  padding-right: .3em;
}

.spelling-suggestions dd {
  margin-bottom: 0px;
}
