#advanced-search-link {
  float: left;
  margin-left: 15px;
}

div.content.clearfix > br {
  display: none;
}

.search_result_item.odd {
  background-color: #FFFFFF;
}

.search_result_item.even{
  background-color: #F5F5F5;
}

#edit-basic {
  float: right;
  width: 72.5%;
}

#edit-basic .form-item-keys {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}

#edit-basic .form-item-keys .description {
/*For some reason display table made submit buttons appear correctly*/
  display: table;
}

/*Adding CSS for the file search on Top-Right corner*/
#search .form-managed-file input {
  width: 206px;
  height: 20px;
  line-height: normal;
}

#search .form-type-managed-file label {
  display: none;
}

#search .field-type-file {
  display: none;
  float: left;
  margin-top: 2px;
  margin-left: 6px;
}

#search .field-type-file br {
  display: inline;
}

#search .field-type-file .description {
  display: none;
}

/*Just using CSS to hide the button, could do it in the module itself, but it
 * might be overkill.  If preferred to be done in module, let me know
 */
#edit-field-file-search-und-0-upload-button--2 {
  display: none;
}

#edit-field-file-search-und-0-upload-button {
  display: none;
}

#search .form-actions:before {
  display: inline;
}


/* simply using .spelling-suggestions causes issue between Search result and No result pages */
/* for No result page */
#block-system-main.block.block-system.first.odd .spelling-suggestions {
  font-size: 114.28%;
}

/* for Search result page */
#block-system-main.block.block-system.even .spelling-suggestions {
  width: 72.5%;
  float: right;
  font-size: 114.28%;
  margin-top: -10px;
}

.spelling-suggestions dl {
  margin-bottom: 10px;
}

.spelling-suggestions dt {
  float: left;
  padding-right: .3em;
}

.spelling-suggestions dd {
  margin-bottom: 0px;
}
