/* Card placement and box model config is split up by necessity */
#block-vbsearch_card-knowledge_card {
  float: right;
  width: auto;
  margin: 0;
  background: white;
}

#block-vbsearch_card-knowledge_card > .inner.clearfix.gutter {
  margin: 0 0 20px 20px;
}

#block-vbsearch_card-knowledge_card .content.clearfix {
  max-width: 270px;
  padding: 15px;
  border: solid 1px #dce2c2;
  background: #fafaf5;
}

/* Make left column bold and don't wrap */
#card_info_table td:first-child {
  font-weight: bold;
  white-space: nowrap;
}

/* Allow text in right column to be broken as needed */
#card_info_table td:last-child {
  word-break: break-word;
}

/* Odd rows get light VB green */
#card_info_table .odd {
  background-color: #e4ecc0;
}

/* Even rows get same background as card */
#card_info_table .even {
  background-color: transparent;
}

/* Override theme settings, return to defaults */
#card_info_table td {
  border: none;
  background-color: transparent;
}

