.canvasPanel
{
	margin			:	0px 0px 0px;
	background-color	:	#cedf9b;
}

.panelCVTree
{
	background-color	:	#e5eecf;
	width			:	430px;
	height			:	700px;
}


.scrpnlInfo 
{
	background-color	:	#f3f6e1;
	width			:	430px;
	height			:	700px;
}



.scrpnlSearch
{
	width			:	238px;
	height			:	557px;
}



.fxtSearchResults 
{
	background-color	:	#eeeeee;
	width			:	223px;
	z-index			:	+2;
}


.htmlPanelBody
{
	align			:	center;
}



.myLabel
{
	font-size		: 	12px;
}

table
{
	width			:	10%;
	border-collapse		:	separate;
}

/*Changed by Antelmo:
 *
 * The following CSS code is used to ensure that the correct
 * styling is being used for the Tutorial link and the breadcrumb
 * as well.  Using the !important property because standard.css overrides
 * this CSS file.
 */

a.title-tutorial-link {
	color: #27638C !important;
}

.breadcrumb {
	color: #666 !important;
	font-family: Arial, Helvetica, Verdana, "Bitstream Vera Sans", sans-serif !important;
}

.breadcrumb a, .breadcrumb a:visited {
	color: #27638C !important;
}
