html, body, #page, #page-inner, #header-group-wrapper, #main-wrapper, .region, .inner, #block-popbio-map_block, .inner-wrapper, .inner-inner, .content, #map_container {
  height: 100% !important;
}

#page {
  z-index: 3000;
}

#main, #main-group, .region {
  /*width: 100% !important;*/
  max-width: none !important;
}

html, #content-region {
  position: relative;
}

#content {
  float: none;
  position: absolute;
}

#content-group-inner {
  padding: 0 !important;
}

#block-system-main, #content-tabs, #page-bottom, #page-top {
  display: none;
}

#content-region-inner, #content-inner, body, #page, #main-wrapper, .content, #map_container {
  position: absolute;
  top: 0;
  width: 100% !important;
  margin: 0 !important;
}

#block-popbio-map_block {
  margin: 0;
}

#admin-menu {
  display: none;
}

#generate-link-msg {
  top: 250px;
}

#main-wrapper {
  border: none !important;
}

#pid-popbio-map {
  margin: 0 !important;
}
