/**
 * Formatting for the About page
 */

/* Use cases under the "What can you do with VectorBase?" heading */
#use-cases-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 
}

.use-case {
  margin: 15px;
  padding: 5px;
  width: 267px; /* Should be 2px wider than .use_case_image to account for border */
}

.use-case-image {
  width: 265px;
  height: 190px;
  background-color: white;
  border: solid 1px lightgrey;
  cursor: pointer;
}

.use-case-text {
  margin: 1em 0 0 0;
  font-weight: bold;
}

.slideshow-container {
  position: relative;
}

.slide {
  /* Hide the slides by default */
  display: none;
  width: auto;
}

.active-slide {
  display: block;
}

/* Next & previous buttons */
.prev, .next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 12px;
  cursor: pointer;
  color: white;
  background-color: rgba(0,0,0,0.2);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  -webkit-user-select: none;
  user-select: none; /* Disallows selection/highlighting (these contain text) */
}

.prev {
  left: 1px;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 1px;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot-container {
  position: absolute;
  bottom: -12px;
  width: 100%;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}

/* The dots/indicators */
.dot {
  display: inline-block;
  height: 10px;
  width: 25px;
  margin: 0 2px;
  border-radius: 20%;
  cursor: pointer;
  background-color: #bbb;
  transition: background-color 0.6s ease;
}

.active-dot, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Overlay seen when clicking on an image */
#image-overlay {
  position: fixed; /* Sit on top of the page content */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11; /* Menus at top have z-index of 10 */
  display: none; /* Hidden by default */
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8); /* Black background with opacity */
  cursor: pointer; /* Add a pointer on hover */
}

#image-overlay > div.fullscreen-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

#image-overlay img {
  position: absolute;
  display: block;

  /* Takes up no more than 80% of window width/height, maintaining aspect ratio */
  max-width: 80%;
  max-height: 80%;
  width: auto;
  height: auto;

  /* Centers on page */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white; /* So the text (transparent background) can be seen */
  cursor: auto;
  -webkit-user-select: none;
  user-select: none;
}

#image-overlay .dot-container {
  bottom: 10px;
}

#image-overlay .dot {
  background-color: #717171;
}

#image-overlay .active-dot, #image-overlay.dot:hover {
  background-color: white;
}

