.popbio_tool > h2 {
  text-align: center;
  margin-bottom: 8px;
  font-size: 155%;
}

.popbio_tool a {
  text-decoration: none !important;
  color: #27638C;
}

.view_item > i {
  margin-right: 5px;
}

.popbio_button > img {
  display: block;
  position: relative;
  height: 80px;
  width: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popbio_tool {
  margin: 15px;
}

.popbio_button {
  height: 160px;
  width: 160px;
  background: #5b9bd5;
  border-radius: 24px;
  margin: auto;
}

.view_item {
  padding: 5px;
  font-size: 100%;
  color: white;
}

.view_item:hover {
  background: #153451;
}

.description {
  text-align: center;
  color: #666;
  width: 220px;
  font-size: 105%;
}

#tool_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: Arial, Helvetica, Verdana, "Bitstream Vera Sans", sans-serif;
  max-width: 1000px;
  margin: auto;
}

#map_button_wrapper {
  height: 160px;
  width: 160px;
  margin: auto;
}

#map_button {
  position: relative;
  border-radius: 24px 24px 0px 0px;
  height: 133px;
}

#map_views_wrapper {
  position: relative;
}

#map_views_list {
  display: none;
  background: #1f4e79;
  border-top: solid 3px white;
}

#map_views_rollover {
  position: relative;
  height: 24px;
  background: #5b9bd5;
  border-radius: 0px 0px 24px 24px;
  border-top: solid 3px white;
  text-align: center;
  line-height: 24px;
  color: white;
  font-size: 120%;
}

#map_views_rollover > .fa-caret-down {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

