{font-size:1em}

#toolsTable {
	border-spacing: 5px 25px;
}

#toolsTable td {
	vertical-align:top;
	width:50%;
}

#toolsTable img {
	float:left;
	padding-right:1em;
}

#toolsTable div {
	overflow:hidden;
}

#leftColumn {
	float:left;
	width:50%;
	//background-color:blue;
}

.cell {
	overflow:hidden;
	padding-top:1em;
	padding-bottom:1em;
	padding-left:1em;
	padding-right:1em;
}

.cell img {
	float:left;
	padding-right:1em;
}

