/* Zika Resources Main Content */


/*
 * New enlarged text classes
 */

p.emphasis {
  padding: 0;
  font-size: 140%;
  line-height: 140%;
  margin: 0;
}

ul.plain-large {
  list-style-type: none;
  font-size: 130%;
  line-height: 130%;
  padding: 0;
  margin: 0 0 0 10px;
}

ul.plain-large li {
  padding: 3px 0;
}


/*
 * 2-column layout div's
 */

.main-left {
  float: left;
  position: relative;
  width: 65%;
  box-sizing: border-box;
  padding-right: 20px;
  /*margin-top: 20px;*/
}

.main-right {
  float: left;
  position: relative;
  width: 35%;
  box-sizing: border-box;
  margin-top: 20px;
}

.main-left h2 {
  margin: 20px 0 5px;
}

.main-left span {
  text-transform: uppercase;
  color: #999;
  font-size: 75%;
  margin-left: 5px;
}



/*
 * Large blue/white buttons
 */

.zika-button {
  background: #014f85;
  border: 3px solid #014f85;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  width: 100%;
  padding: 12px;
  text-align: left;
  font-size: 130%;
  box-sizing: border-box;
  margin: 0 0 3px;
}

.int-link {
  color: #fff !important;
}

.ext-link .zika-button {
  background-color: #fff;
}

.ext-link {
  color: #014f85 !important;
}

.ext-link span {
  text-transform: uppercase;
  color: #999;
  font-size: 75%;
  margin-left: 5px;
}

.int-link:hover div {
  background: #31719d;
}

.ext-link:hover div {
  background: #ccdce7; 
}



/*
 * Photo buttons
 */

.zika-photo-buttons {
  width: 100%;
  box-sizing: border-box;
}
.zika-photo-buttons a {
  float: left;
  position: relative;
  width: 30%;
  margin: 0 4px 30px 0;
  color: #fff !important;
  text-align: center;
  border: 3px solid #014f85;
  background-color: #014f85;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.zika-photo-buttons a img {
  width: 100%;
  opacity: 1;
}
.zika-photo-buttons a:hover img {
  width: 100%;
  opacity: 0.8;
}

#content-group {
  position:absolute;
  top: 0;
  bottom: 0;
}

#content-group-inner{
  position:absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#content {
  width: 100%;
}

#sidebar-second {
  float: right;
  //width: 27%;
}

#sidebar-second-inner{
  padding-bottom: 0px !important;
}

#main-content-inner {
  position: relative;
  min-height: 800px;
  padding-bottom: 0px;
}
