.block-vbsearch-facets {
  height: 600px !important;
}

#search_filter_div {
  width: 100% !important;
  position: relative !important;
}

#main {
  position: relative;
}

/*#main div {
  height: 100%;
}*/

#main-inner {
  position: absolute;
  height: 100%;
}

#main-group {
  height: 100%;
}

#main-group-inner {
  height: 100%;
}

#main-content {
  height: 100%;
}

#main-content-inner {
  height: 100%;
}

#content-group-inner {
  height: 98.5%;
}

#search_filter_div {
  height: 98.4%;
  padding-top: 0;
}

.block-vbsearch-facets {
  height: 100% !important;
}

#sidebar-second-inner {
  height: 100%;
}

#sidebar-second {
  height: 100%;
}

.search_filter_box {
  margin-top: 0px !important;
}

.gutter {
  margin-left: 1px !important;
}

.search_filters {
  height: 95% !important;
  padding-bottom: 5px;
}
