/*Removing this for now, but might need in the future
#block-vbsearch_facets-vbsearch_facets {
  position: absolute;
  padding-top: 60px;
}
*/

/*#block-vbsearch_facets-vbsearch_facets {
  width: 25%;
}*/

#content {
  position: relative;
}

#block-vbsearch_facets-vbsearch_facets > .inner{
  margin: 0;
}

.search_filter_box {
  /*Overriding the search.css setting for width*/
  width: 100% !important;
  background-color: #FAFAF5 !important;
  height: 100%;
  /*min-height: 700.6px; /*The .6 is important, trust me*/
  min-height: 700px; /*Turns out the .6 caused a visual glitch, who knew?*/
  /*overflow: auto;*/
  position: absolute;
  border-right: 1px solid #D6DDB9 !important;
  border-top: 1px solid #D6DDB0 !important;
  border-left: none !important;
  border-bottom: none !important;
}

.search_filters {
  overflow: auto;
  position: absolute;
  top: 31px;
  bottom: 5px;
  width: 97%;
  display: none;
}

#search_filter_div {
  position: absolute;
  top: 0px;
  bottom: 16px;
  width: 25%;
  z-index: 1;
}

.block-vbsearch-facets {
  height: 100%;
}

.no-filter {
  height: 18px;
}

.filter {
  height: 18px;
}

#edit-reset-filters {
  width: auto !important;
  padding: 0px 10px !important;
}

.facetsort thead{
  cursor: pointer;
  /*background: #c9dff0;*/
}

.tablesorter-default td {
  border-bottom: none;
  padding: 3px;
}

.tablesorter-default td:nth-child(2) {
  width: 20%;
}

#block-vbsearch_facets-vectorbase_main_search_facet table {
  margin-top: 0px;
  margin-bottom: 5px;
}

.tablesorter th, .tablesorter td {
  background-color: #FAFAF5 !important;
}


/*CSS for the Add Category widget*/
#toggle-category-display {
  position: absolute;
  left: 140px;
  top: 17px;
}

#toggle-category-display i{
  width: 16px;
  height: 16px;
  background: url(../../images/add-small.png) no-repeat 0 0;
  display: inline-block;
  vertical-align: text-bottom;
}

#facet_category_list_div {
  position: absolute;
  left: 143px;
  top: -4px;
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,0.2);
  background-clip: padding-box;
  box-shadow: 2px 0px 10px;
  background-color: #ffffff;
  display: none;
  z-index: 1000;
}

#facet_category_list {
  list-style-type: none;
  margin: auto;
  white-space: nowrap;
}

#facet_category_list input {
  margin-right: 5px;
}

#facet_category_list label {
  padding: 1px 10px;
}

.facet_tip {
  background: url(../../images/tip.png) no-repeat;
  position: absolute;
  display: none;
  z-index: 1001;
  width: 12px;
  height: 18px;
  left: 132px;
  top: 0px;
}

.tablesorter-pager {
  margin-bottom: 10px;
  text-align: center;
}

.tablesorter-pager span {
  vertical-align: top;
}

.tablesorter-pager select {
  vertical-align: top;
}

.search_filter_box table th:first-child {
  padding: 0;
  padding-left:15px;
}

.search_filter_box form table th:first-child {
  width: 17px !important;
  padding: 0px;
  padding-left: 15px;
}

.search_filter_box table td:first-child {
  padding: 0;
  width: 17px;
  vertical-align: middle;
}

.search_filter_box table td:nth-child(3) {
  width: 20%;
}
.search_filter_box table td:nth-child(2) {
  width: 76%;
}

.search_filter_box form tr, .search_filter_box form table td{
  border-bottom: none;
}

.search_filter_box .form-submit {
  margin: 15px auto;
  display: none;
}

form .tablesorter-pager {
  margin-bottom: 5px;
  text-align: center;
}

.search_filter_box .form-type-checkbox {
  height: 21px;
}

/* Changing the look of button to look like a link */
.search_filter_box .toggle-select {
  font-size: 12px;
  font-weight: normal;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: 0;
  color: #27638C;
}

.search_filter_box .toggle-select:hover {
  border-bottom: 1px solid;
}

/* Hide all the checkboxes from multi-select facets first */
.search_filter_box .form-checkbox {
  display: none;
}

.search_filter_box .sticky-header th:first-child,
.search_filter_box .sticky-header th:nth-child(2) {
  padding: 0;
}

.search_filter_box .sticky-header th:nth-child(2) {
  min-width: 240px;
}

#search_filter_div .facet-loader-div {
  width: 100%;
  position: absolute;
  top: 200px;
  z-index: 1000;
  display: none;
}
#search_filter_div .facet-loader {
  width: auto;
  height: auto;
  display: block;
  margin: auto;
  position: relative;
}

.search_filter_box th:nth-child(2) {
  max-width: 0;
}

/* This CSS might not work well for all cases */
.search_filter_box th:nth-child(2) .tablesorter-header-inner {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Hide the 'x' from dialogs with the no-close class */
.no-close .ui-dialog-titlebar-close {
  display: none;
}
