#result-details {
  position: relative;
}

.result-details-table tr.odd td {
  background-color: #FFFFFF;
}

.result-details-table tr.even td {
  background-color: #F5F5F5;
}

.result-details-table .title-cell {
  white-space: nowrap;
  padding-right: 20px;
  width: 20%;
}


#result-details-main {
  padding-bottom: 20px;
}

#result-details-main .field-value {
  padding-left: 20px;
}

.result-field-main {
  padding-bottom: 5px;
}

#description {
  width: 50%
}

#sequence_s {
  font-family: Courier New,Courier,monospace;
  max-height: 300px;
  overflow-y: auto;
  width: 380px;
}

#result-details-box {
  position: absolute;
  right: 0;
  margin-right: 25px;
  padding: 2px 7px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}

#action-buttons {
  display: inline;
}

#action-buttons button {
  margin-left: 10px;
}

#action-result {
  display: inline;
  margin-left: 20px;
  font-weight: bold;
}

.child-table-title {
  padding-top: 30px;
  margin-bottom: 0px;
}

#copy-sequence {
  margin: 10px 0px 0px 20px;
}
