#rna-seq-data-set-filter-fieldset #edit-field-organism-taxonomy-tid-wrapper {
	clear: both;
}

#rna-seq-data-set-filter-fieldset #edit-submit-rna-seq-data-sets {
	background: linear-gradient(to bottom, #d2e099 0%,#b1ca49 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1ca49', endColorstr='#b1ca49',GradientType=0 );
	border-color: #859937;
	color: #014f85;
}
/*
#rna-seq-data-set-filter-fieldset .views-reset-button {
	margin-top: -50px;
	margin-left: 160px;
}

#rna-seq-data-set-filter-fieldset .views-submit-button {
	margin-top: -50px;
	margin-left: 85px;
}
*/

