<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{padding:10px 5px;overflow:hidden;word-break:normal;}
.tg th{width:170px;padding:10px 5px;overflow:hidden;word-break:normal;}
.tg .tg-baqh{text-align:center;vertical-align:top}
</style>	
<div id="vbpg_page"> 
<div id="vbpg_content">

<div id="welcome">

 
<p>Welcome to VectorBase's Population Biology (PopBio) resource: a database and associated tools for visualisation, search and analysis of a wide range of population data, including genotypes, insecticide resistance and other phenotypes, and field collection metadata. You can interactively query all geo-tagged data (>99% of samples) using the map interface. Text-based search and browse is also available.
</p>

<div style="height: 200px; width: 700px; display: block; margin-left: auto; margin-right: auto;">

<table class="tg">
  <tr>
    <th class="tg-baqh"><a class="divLink" href="/popbio/map/"><img src="/sites/default/files/ftp/popbio-samples.png"></a></th>
    <th class="tg-baqh"><a class="divLink" href="/popbio/map/?view=ir"><img src="/sites/default/files/ftp/popbio-ir.png"></a></th>
    <th class="tg-baqh"><a class="divLink" href="/search/site/*?&site=%22Population%20Biology%22"><img src="/sites/default/files/ftp/popbio-search.png"></a></th>
    <th class="tg-baqh"><a class="divLink" href="/popbio/sample-explorer"><img src="/sites/default/files/ftp/popbio-list.png"></a></th>
  </tr>
  <tr>
    <td class="tg-baqh">
		<div style="display: inline-block;height:50px;">
		<h2 style="color:#235680;margin-bottom:0px;">
			<a href="/popbio/map/">Collection sites map</a>
		</h2>
		</div>
	</td>
    <td class="tg-baqh">
		<div style="display: inline-block;height:50px;">
		<h2 style="color:#235680;margin-bottom:0px;">
			<a href="/popbio/map/?view=ir">Insecticide resistance map</a>
		</h2>
		</div>
	</td>
    <td class="tg-baqh">
		<div style="display: inline-block;height:50px;">
		<h2 style="color:#235680;margin-bottom:0px;">
			<a href="/search/site/*?&site=%22Population%20Biology%22">Search</a>
		</h2>
		</div>
	</td>
    <td class="tg-baqh">
		<div style="display: inline-block;height:50px;">
		<h2 style="color:#235680;margin-bottom:0px;">
			<a href="/popbio/sample-explorer">Sample Explorer<br/><font style="color: red; font-size: 80%">NEW!</font></a>
		</h2>
		</div>	
	</td>
  </tr>
</table>

</div>

<p>
The resource is under active development. Please check the <a href="/releases">release notes</a> every two months for information about new features and data.
</p>
<h2>What's in the PopBio database?</h2>
<p>
Our database is extremely flexible and can store many types of population data from the past, present and even the future... Once a significant amount of one kind of data has accumulated in VectorBase, we can provide specialized visualization tools, such as the PopBio map's Insecticide Resistance View shown above.
Essential metadata for field-collected samples includes latitude, longitude, date and protocols for collection and species identification.
Phenotypes and genotypes and the assays that determined them are also stored in our databases and are available for browse, search and ultimately meta-analysis with tools to be developed.
</p>
<p>
Current data includes:
<ul>
<li>13k Anopheles gambiae complex samples with inversion and microsatellite genotypes from Taylor, Lanzaro and colleagues.</li>
<li>30k species distribution observations assimilated by the Malaria Atlas Project</li>
<li>>200 individuals with high-throughput sequencing-based genotypes (shown in genome and PopBio browsers)</li> 
<li>>5500 insecticide resistance assays, including data from the President's Malaria Initiative covering years 2006-2014</li>
</ul>
</p>


</div> <!-- welcome -->

</div> <!-- vbpg_content -->
</div> <!-- vbpg_page -->
<!-- spinning progress disk CC 
  -- http://www.sanbaldo.com/wordpress/1/ajax_gif/
  -- Creative Commons BY
  -->
